footer.footer 
    .footer__container 
        .footer__top
            .footer__logo 
                h2
                    a.footer__logo--link(href="#") dead stocker
            .footer__menu.menu__footer 
                ul.menu__footer--list 
                    li.footer__menu--item 
                        a.menu__footer--link(href="#") dead spacer 
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") dead zone  
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") rack snatch
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") tagger watch 
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") advertise
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") privacy policy
                    li.menu__footer--item 
                        a.menu__footer--link(href="#") terms of use
        .footer__buttom.buttom__footer 
            p.buttom__footer--text  The best blog about fashion. We love fashion and we can’t live without it. See always the latest news and reviews
            .buttom__footer--about
                h4.buttom__footer--title about this site
                p.buttom__footer--subtitle The best blog about wine. We love wine and we can’t live without it. See always the latest news and reviews
            .buttom__footer--subscribe
                h4.buttom__footer--title subscribe 
                ul.buttom__footer--list 
                    li.buttom__footer--item Follow us:
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#") 
                            img(src="img/tw.png", alt="")
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#") Twitter
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#")
                            img(src="img/fb.png", alt="")
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#") Facebook
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#")
                            img(src="img/in.png", alt="")
                    li.buttom__footer--item
                        a.buttom__footer--link(href="#") RSS