header.header
	.header__container 
		.header__top
			ul.header__top--list
				li.header__top--item
					img.header__top--img(src="img/gb-flag.jpg", alt="")
					a(href="#").header__top--link English				
				li.header__top--item
					img.header__top--img(src="img/spanish-flag.jpg", alt="")
					a(href="#").header__top--link Spanish
				form(action="#") 
					.header__top--input
						input(type="text" placeholder="What are you looking for?").search
		.header__bottom 
			.headder__logo.logo 
				h2.logo__img
					a.logo__link(href="#") dead stocker
			.header__nav#menu.nav
				ul.nav__list 
					li.nav__item 
						a.nav__link(href="#")  dead spacer    
					li.nav__item 
						a.nav__link(href="#")  dead zone          
					li.nav__item 
						a.nav__link(href="#")  rack snatch            
					li.nav__item 
						a.nav__link(href="#") tagger watch  
				a(href="#menu").hamburger   
					span              
			.header__social.social 
				ul.social__list 
					li.sicial__item 
						a.social__link(href="#")  
							img(src="img/fb.png", alt="")
					li.sicial__item 
						a.social__link(href="#")
							img.social__img(src="img/tw.png", alt="")
					li.sicial__item 
						a.social__link(href="#") 
							img(src="img/in.png", alt="")
					li.sicial__item 
						a.social__link(href="#") SUBSCRIBE
							    
						     
						
							
		
