.main__container
    .main__content
        aside.aside.aside-1 
            .block
                h3.center__title The latest
                .aside-1__img 
                    img(src="img/wings.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            .block
                .aside-1__img 
                    img(src="img/ears.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            .block
                .aside-1__img 
                    img(src="img/girls.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            button.aside__btn.aside-1__btn more offers