aside.aside.aside-2 
    .aside-2__subscrube
        .subscrube 
            h3.center__title subscrube
            form(action="") 
                .subscrube__input
                    input(type="text" placeholder="mr.madbyte@gmail.com").search
            ul.subscrube__list 
                li.subscrube__item 
                    a.subscrube__link(href="#") 
                        img(src="img/bfb.png", alt="")
                li.subscrube__item 
                    a.subscrube__link(href="#")
                        img(src="img/btw.png", alt="")
                li.subscrube__item 
                    a.subscrube__link(href="#") 
                        img(src="img/brss.png", alt="")
        .vote 
            h3.center__title vote 
            .vote__text What do you think about new Calvin Klein Summer 2011 Collection?
            form
                p.radioP
                    input#r1(type='radio', name='name', required='').radio
                    label(for='r1')
                        span.rerrq It’s very interesting
                p.radioP
                    input#r2(type='radio', name='name', required='').radio
                    label(for='r2')
                        span.rerrq Not bad
                p.radioP
                    input#r3(type='radio', name='name', required='').radio
                    label(for='r3')
                        span.rerrq Bad
                p.radioP
                    input#r4(type='radio', name='name', required='').radio
                    label(for='r4')
                        span.rerrq Worst collection in the season
            button.aside__btn vote for this
        .popular 
            h3.center__title most popular now
            ul.popular__list    
                li.popular__item 34
                    a(href="#").popular__link Interview with Freja Beha
                li.popular__item 67
                    a(href="#").popular__link Top summer discounts in Paris
                li.popular__item 47
                    a(href="#").popular__link Alexander McQueen Exhibit
                li.popular__item 3
                    a(href="#").popular__link Best runaway shows in Moscow
                li.popular__item 43
                    a(href="#").popular__link Top summer discounts in Paris
                li.popular__item 27
                    a(href="#").popular__link Alexander McQueen Exhibit
                li.popular__item 79
                    a(href="#").popular__link Interview with Freja Beha
                li.popular__item 3
                    a(href="#").popular__link Best runaway shows in Moscow
        .twitter 
            h3.center__title from twitter
            .twitter__twit 
                a.twitter__twit--link(href="#") @hummer 
                span.twitter__twit--text  Earlier this summer the announcement that the John Barrett Salon inside Bergdorf Goodman
            .twitter__twit 
                a.twitter__twit--link(href="#") @hummer 
                span.twitter__twit--text  Earlier this summer the announcement that the John Barrett Salon inside Bergdorf Goodman

                        

                        


