aside.aside.left
    h3.center__title The latest
    ul.left__list 
        li.left__item
             img(src="img/wings.jpg", alt="")
        li.left__item
            .left__subtitle   
                a.left__link(href="#")  Calvin Klein Watches
        li.left__item
            p.left__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
        li.left__item by 
            a.left__link(href="#") Sergio La Puerta
        li.left__item on Jun 4, 2011 
            a.left__link(href="#") 24 comments 
    ul.left__list 
        li.left__item
             img(src="img/wings.jpg", alt="")
        li.left__item
            .left__subtitle  
                a.left__link(href="#")  Calvin Klein Watches
        li.left__item
            p.left__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
        li.left__item by 
            a.left__link(href="#") Sergio La Puerta
        li.left__item on Jun 4, 2011 
            a.left__link(href="#") 24 comments 
    ul.left__list 
        li.left__item
             img(src="img/wings.jpg", alt="")
        li.left__item
            .left__subtitle   
                a.left__link(href="#")  Calvin Klein Watches
        li.left__item
            p.left__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
        li.left__item by 
            a.left__link(href="#") Sergio La Puerta
        li.left__item on Jun 4, 2011 
            a.left__link(href="#") 24 comments 
    button.aside__btn.aside-1__btn more offers