article.center 
        h3.center__title Best offers 
        .center__bigimg
            a.center__link(href="#") 
                img(src="img/biggirl.jpg", alt="")
                h5.center__subtitle discounted rachel comey’s
        .center__small-img.small 
            .small__img
                a.center__link(href="#") 
                    img(src="img/small.jpg", alt="")
                    h5.center__subtitle freja beha
            .small__img
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
        .center__bigimg
            a.center__link(href="#") 
                img(src="img/twogirls.jpg", alt="")
                h5.center__subtitle discounted rachel comey’s
        .center__small-img.small 
            .small__img
                a.center__link(href="#") 
                    img(src="img/small.jpg", alt="")
                    h5.center__subtitle freja beha
            .small__img
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                h5.center__subtitle discounted Lacoste discount: 50%
        .center__green.green 
            h6.green__title Interesting article
            .green__text Designer Edmar Cisneros has an interesting and unique philosophy regarding design that. It’s always entertaining to explore the works of a great caricature artist. This showcase from Web Designer Depot features some amazing and hilarious caricatures from Athony Geoffroy. This showcase from Web Designer Depot.
            .green__link 
                a.green__link--link(href="#")  read more...