article.center 
    h3.title__center Best offers
        .center__img
            .center__img--big 
                a.center__link(href="#") 
                    img.center__link--bigimg(src="img/biggirl.jpg", alt="")
                    img.discount(src="img/discount.png", alt="")
                    p.discount__text 25
                    p.discount__interest %
                    h5.center__subtitle discounted rachel comey’s
            .center__img--small
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
            .center__img--big 
                a.center__link(href="#") 
                    img.center__link--bigimg(src="img/biggirl.jpg", alt="")
                    img.discount(src="img/discount.png", alt="")
                    p.discount__text 25
                    p.discount__interest %
                    h5.center__subtitle discounted rachel comey’s
            .center__img--small
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
                a.center__link(href="#") 
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
    .center__green.green 
        h6.green__title Interesting article
        p.green__text Designer Edmar Cisneros has an interesting and unique philosophy regarding design that. It’s always entertaining to explore the works of a great caricature artist. This showcase from Web Designer Depot features some amazing and hilarious caricatures from Athony Geoffroy. This showcase from Web Designer Depot.
        .green__link 
    a.green__link--link(href="#")  read more...
            