.main__container
    .slider__holder 
        ul.slider__items
            li.slider__item
                img(src="img/biggirl.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 1
                    p.slider__content--text new winter 2011 collection 1
            li.slider__item
                img(src="img/small.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 2
                    p.slider__content--text new winter 2011 collection 2
            li.slider__item
                img(src="img/lacosta.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 3
                    p.slider__content--text new winter 2011 collection 3
            li.slider__item
                img(src="img/biggirl.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 4
                    p.slider__content--text new winter 2011 collection 4
            li.slider__item
                img(src="img/small.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 5
                    p.slider__content--text new winter 2011 collection 5
            li.slider__item
                img(src="img/lacosta.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 6
                    p.slider__content--text new winter 2011 collection 6
            li.slider__item
                img(src="img/biggirl.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 7
                    p.slider__content--text new winter 2011 collection 7
            li.slider__item
                img(src="img/small.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 8
                    p.slider__content--text new winter 2011 collection 8
            li.slider__item
                img(src="img/lacosta.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 9
                    p.slider__content--text new winter 2011 collection 9
            li.slider__item
                img(src="img/biggirl.jpg", alt="")
                .slider__content
                    h2.slider__content--title dolce&gabbana 10
                    p.slider__content--text new winter 2011 collection 10            
        ul.slider__controls
            li.slider__control
                .control__content
                    h2.control__content--title dolce & gabbana
                    p.control__content--text New winter collection of 2011
            li.slider__control
                .control__content
                    h2.control__content--title the alexander mcqueen exhibit
                    p.control__content--text Sweet exhibit in the center of New York
            li.slider__control
                .control__content
                    h2.control__content--title discounted rachel comey’s
                    p.control__content--text Summer collection in the Wirehouse Stock
            li.slider__control
                .control__content
                    h2.control__content--title freja beha
                    p.control__content--text Cover this month’s British Vogue
            li.slider__control
                .control__content
                    h2.control__content--title new calvin klein watches
                    p.control__content--text Only 250$!
            li.slider__control
                .control__content
                    h2.control__content--title Best Bet
                    p.control__content--text John Barrett’s braid bar
            li.slider__control
                .control__content
                    h2.control__content--title dolce & gabbana
                    p.control__content--text New winter collection of 2011
            li.slider__control
                .control__content
                    h2.control__content--title the alexander mcqueen exhibit
                    p.control__content--text Sweet exhibit in the center of New York
            li.slider__control
                .control__content
                    h2.control__content--title discounted rachel comey’s
                    p.control__content--text Summer collection in the Wirehouse Stock
            li.slider__control
                .control__content
                    h2.control__content--title freja beha
                    p.control__content--text Cover this month’s British Vogue
    .main__content
        aside.aside.aside-1 
            .block
                h3.center__title The latest
                .aside-1__img 
                    img(src="img/wings.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            .block
                .aside-1__img 
                    img(src="img/ears.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            .block
                .aside-1__img 
                    img(src="img/girls.jpg", alt="")
                .aside-1__subtitle Calvin Klein Watches
                p.aside-1__text Earlier this summer, the announcement that the John Barrett Salon inside Bergdorf Goodman
                .border
                    .aside-1__item by 
                        a.aside-1__link(href="#")  Sergio La Puerta 
                    .aside-1__item on Jun 4, 2011  
                        a.aside-1__link(href="#")   24 comments 
            button.aside__btn.aside-1__btn more offers
        article.center 
            
            h3.center__title Best offers 
            .center__bigimg
                img(src="img/biggirl.jpg", alt="")
                h5.center__subtitle discounted rachel comey’s
            .center__small-img.small 
                .small__img
                    img(src="img/small.jpg", alt="")
                    h5.center__subtitle freja beha
                .small__img
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
            .center__bigimg
                img(src="img/twogirls.jpg", alt="")
                h5.center__subtitle discounted rachel comey’s
            .center__small-img.small 
                .small__img
                    img(src="img/small.jpg", alt="")
                    h5.center__subtitle freja beha
                .small__img
                    img(src="img/lacosta.jpg", alt="")
                    h5.center__subtitle discounted Lacoste discount: 50%
            .center__green.green 
                h6.green__title Interesting article
                .green__text Designer Edmar Cisneros has an interesting and unique philosophy regarding design that. It’s always entertaining to explore the works of a great caricature artist. This showcase from Web Designer Depot features some amazing and hilarious caricatures from Athony Geoffroy. This showcase from Web Designer Depot.
                .green__link 
                    a.green__link--link(href="#")  read more...
        aside.aside.aside-2 
            .aside-2__subscrube
                .subscrube 
                    h3.center__title subscrube
                    form(action="") 
                        .subscrube__input
                            input(type="text" placeholder="mr.madbyte@gmail.com").search
                    ul.subscrube__list 
                        li.subscrube__item 
                            a.subscrube__link(href="#") 
                                img(src="img/bfb.png", alt="")
                        li.subscrube__item 
                            a.subscrube__link(href="#")
                                img(src="img/btw.png", alt="")
                        li.subscrube__item 
                            a.subscrube__link(href="#") 
                                img(src="img/brss.png", alt="")
                .vote 
                    h3.center__title vote 
                    .vote__text What do you think about new Calvin Klein Summer 2011 Collection?
                    form
                        p.radioP
                            input#r1(type='radio', name='name', required='').radio
                            label(for='r1')
                                span.rerrq It’s very interesting
                        p.radioP
                            input#r2(type='radio', name='name', required='').radio
                            label(for='r2')
                                span.rerrq Not bad
                        p.radioP
                            input#r3(type='radio', name='name', required='').radio
                            label(for='r3')
                                span.rerrq Bad
                        p.radioP
                            input#r4(type='radio', name='name', required='').radio
                            label(for='r4')
                                span.rerrq Worst collection in the season
                    button.aside__btn vote for this
                .popular 
                    h3.center__title most popular now
                    ul.popular__list    
                        li.popular__item 34
                            a(href="#").popular__link Interview with Freja Beha
                        li.popular__item 67
                            a(href="#").popular__link Top summer discounts in Paris
                        li.popular__item 47
                            a(href="#").popular__link Alexander McQueen Exhibit
                        li.popular__item 3
                            a(href="#").popular__link Best runaway shows in Moscow
                        li.popular__item 43
                            a(href="#").popular__link Top summer discounts in Paris
                        li.popular__item 27
                            a(href="#").popular__link Alexander McQueen Exhibit
                        li.popular__item 79
                            a(href="#").popular__link Interview with Freja Beha
                        li.popular__item 3
                            a(href="#").popular__link Best runaway shows in Moscow
                .twitter 
                    h3.center__title from twitter
                    .twitter__twit 
                        a.twitter__twit--link(href="#") @hummer 
                        span.twitter__twit--text  Earlier this summer the announcement that the John Barrett Salon inside Bergdorf Goodman
                    .twitter__twit 
                        a.twitter__twit--link(href="#") @hummer 
                        span.twitter__twit--text  Earlier this summer the announcement that the John Barrett Salon inside Bergdorf Goodman

                        

                        


