.slider__holder 
    ul.slider__items
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/twogirls.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 5
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 6
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection 
        li.slider__item
            img(src="img/dg.jpg", alt="")
            .slider__content
                h1.slider__content--title dolce&gabbana 
                p.slider__content--text new winter 2011 collection            
    ul.slider__controls
        li.slider__control
            .control__content
                h2.control__content--title dolce & gabbana
                p.control__content--text New winter collection of 2011
        li.slider__control
            .control__content
                h2.control__content--title the alexander mcqueen exhibit
                p.control__content--text Sweet exhibit in the center of New York
        li.slider__control
            .control__content
                h2.control__content--title discounted rachel comey’s
                p.control__content--text Summer collection in the Wirehouse Stock
        li.slider__control
            .control__content
                h2.control__content--title freja beha
                p.control__content--text Cover this month’s British Vogue
        li.slider__control
            .control__content
                h2.control__content--title new calvin klein watches
                p.control__content--text Only 250$!
        li.slider__control
            .control__content
                h2.control__content--title Best Bet
                p.control__content--text John Barrett’s braid bar
        li.slider__control
            .control__content
                h2.control__content--title dolce & gabbana
                p.control__content--text New winter collection of 2011
        li.slider__control
            .control__content
                h2.control__content--title the alexander mcqueen exhibit
                p.control__content--text Sweet exhibit in the center of New York
        li.slider__control
            .control__content
                h2.control__content--title discounted rachel comey’s
                p.control__content--text Summer collection in the Wirehouse Stock
        li.slider__control
            .control__content
                h2.control__content--title freja beha
                p.control__content--text Cover this month’s British Vogue