.content
    .main__container 
        include ../components/slider 
        .main__content
            include ../components/aside-1
            include ../components/center
            include ../components/aside-2