.content
    .main__container 
        include ../components/slider 
        .main__content
            include ../components/aside-left
            include ../components/center
            include ../components/aside-right