.header__top--input {
    padding: 5px 35px ;
    background-color: $color2;
    &::after {
        @extend %font-awesome;
        content: "\f0e0";
    }
}
.subscrube__input {
    display: flex;
    padding: 5px;
    background-color: #e7f5eb;
    border: 1px solid $color1;
    &::after {
        @extend %font-awesome;
        content: "\f019";
        padding-left: 3px;
        border-left: 1px solid $color1;
    }
}
input:focus::placeholder {
    color: transparent;
  }
.search {
	border: none;
    background-color: transparent;
}
.aside__btn {
   width: 160px;
   background: #9cc3a4;
   background: -moz-linear-gradient(left,  #9cc3a4 0%, #95bc9d 35%, #92b99a 40%, #89b091 75%, #7da988 100%);
    background: -webkit-linear-gradient(left,  #9cc3a4 0%,#95bc9d 35%,#92b99a 40%,#89b091 75%,#7da988 100%);
    background: linear-gradient(to right,  #9cc3a4 0%,#95bc9d 35%,#92b99a 40%,#89b091 75%,#7da988 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc3a4', endColorstr='#7da988',GradientType=1 );
   color: $color5;
   text-transform: uppercase;
   font-family: $secondary-font;
   padding: 5px 0;
   border-radius: 2px;
   border: none;
   font-size: $fs-md;
   margin-top: 30px;
   @include transition(color background);
   &:hover { 
    color: $color2;
    background-color: $color5;
   }
}
.aside-left__btn {
    &::after {
        display: inline-block;
        content: "\f061";
        margin-left: 10px;
       }
}
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radio+label {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $color3;
    border-radius: 0.5em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
.radio:checked+label::before {
    border-color: $color3;   
} 
.radio:disabled+label::before {
    background-color: #e9ecef;
}
.radio + label::after {
    content: '';
    width: 7px;
    height: 7px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    left: 3.3px;
}
.radio:checked + label::after {
    background: rgb(94, 92, 92);
}
.radioP:not(:last-child) {
	border-bottom: 1px solid $color4;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .header__top--input {
    display: none;
    }
}