$fs-xxlg: 90px;
$fs-xlg: 30px;
$fs-md: 16px; 
$fs-sm: 12px;
$main-font: "Arial";
$secondary-font: "roadwayregular";
$third-font: "moonlight";
$color1: #b2b2b2;
$color2: #fff;
$color3: #b1b1b1;
$color4: #94bc9e;
$color5: #649671;
$color6: #767676;
$color7: #000;
$color8: #e6f5ea;
$bgc1: rgba(31, 31, 31, 0.9);